<style>
.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  max-width: 100% !important;
  width: 88% !important;
}
</style>

<h2><font color="white">Clientes activos</font></h2>
</br>

<div ng-controller="ListaClientesCtrl as cl">

	<ul class="example-animate-container">
		<li class="animate-repeat" ng-repeat="cliente in cl.clientes">
	      <font color="black" size=6> El cliente {{cliente.nombre}} {{producto.precio}} vive en {{cliente.direccion}} con DNI {{cliente.dni}} y número de cliente {{cliente.numeroDeCliente}} </font>
		</li>
	</ul>

</div>


<div class="container">           
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Dirección</th>
					<th>DNI</th>
					<th>Nº Cliente</th>
      </tr>
    </thead>
    <tbody>
	<tr ng-repeat="cliente in listaClientesApp.clientes">
				<td>{{cliente.nombre}}</td>
				<td>{{cliente.apellido}}</td>
				<td>{{cliente.direccion}}</td>
				<td>{{cliente.dni}}</td>
				<td>{{cliente.numeroDeCliente}}</td>
		</tr>
    </tbody>
  </table>
</div>