<style>
	.botonLogin{
		margin-top: 8%;
	    margin-left: 15%;
	}
	.btn-circle {
	  width: 30px;
	  height: 30px;
	  text-align: center;
	  padding: 6px 0;
	  font-size: 12px;
	  line-height: 1.42;
	  border-radius: 15px;
	}
	.btn-circle.btn-lg {
	  width: 100px;
	  height: 100px;
	  padding: 10px 16px;
	  font-size: 18px;
	  line-height: 1.33;
	  border-radius: 55px;
	}
</style>

<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<br>
		<img src="images/Logo.png" alt="Pizzeria">
	</div>
	<div class="col-md-4 col-md-offset-1">
		<img src="images/pizza.png" alt="Pizzeria" style="max-width:100%" >
	</div>
	<div class="col-md-2 col-md-offset-1">
		<img src="images/ayudaPizza.png" alt="Pizzeria" style="max-width:100%">
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-2">
		<br>
		<div class="input-group input-group-lg">
  			<span class="input-group-addon" id="sizing-addon1">CODIGO NRO°</span>
  			<input ng-model="usuario" type="text" class="form-control" placeholder="Usuario" aria-describedby="sizing-addon1">
		</div>
		<br>
		<div class="input-group input-group-lg">
  			<span class="input-group-addon" id="sizing-addon1">CONTRASEÑA</span>
  			<input ng-model="contrasenia" type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon1">
		</div>
	</div>

	<div class="col-md-4">
    	<button type="submit" class="btn btn-success btn-circle btn-lg botonLogin" ng-click="ingresar()">Ingresar</button>
	</div>
</div>

