<div class="row" style="border: thin solid black">

	<div class="col-md-4" style="border: thin solid black">
		<div class="row">
			<div class="col-md-1" style="border: thin solid black">
			</div>
			<div class="col-md-11">
				<br/><br/>
				<img src="images/Logo.png" alt="Pizzeria">
			</div>
		</div>
	</div>
	<div class="col-md-4" style="border: thin solid black">
		<img src="images/pizza.png" alt="Pizzeria" style="max-width:100%" >
	</div>
	<div class="col-md-4" style="border: thin solid black">
		<div class="row">
			<div class="col-md-2" style="border: thin solid black">
			</div>
			<div class="col-md-10" style="border: thin solid black">
				<div class="botonAyuda">
    				<font face="Comic Sans MS,arial,verdana" color="green" size="40px">AYUDA</font>
    				<input name="boton1" type="image" src="img/ayudaPizza.png"style="max-width:50%">
    			</div>
				<img src="images/ayudaPizza.png" alt="Pizzeria" style="max-width:50%">
			</div>
		</div>
	</div>
</div>