<center> <h1><b>Ingreso</b></h1></center> </br>

<center> <img src="../styles/img/pizza.png" width=300 height=300> </center> </br>


	<div class="input-group input-group-lg">
  					<span class="input-group-addon" id="sizing-addon1">CODIGO NRO°</span>
  					<input type="text" class="form-control" placeholder="Usuario" aria-describedby="sizing-addon1">
				</div>
				</br>
				<div class="input-group input-group-lg">
  					<span class="input-group-addon" id="sizing-addon1">CONTRASEÑA</span>
  					<input type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon1">
				</div> </br>
	<center> <button type="submit" class="btn btn-success">Entrar</button> </center>
</br>
	<center> <button class="btn btn-success">Soy administrador</button> </center>


</div>

