
<div class="container">
  <p>Sus últimos pedidos</p>          
  <div class="table-responsive">  
  <table class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th>Fecha y hora</th>
        <th>Detalle</th>
        <th>Importe total</th>
        <th>Lugar de entrega</th>
        <th>Entregado</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pedido in pedidosRealizados">
        <td>-</td>
        <td>-</td>
        <td>{{pedido.importe}}</td>
        <td>{{pedido.direccion}}</td>
        <td>{{pedido.realizado}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>