
<div class="container">
  <p>Pedidos por entregar</p>          
  <div class="table-responsive">  
  <table class="table table-condensed table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Pedido de</th>
        <th>Recibido a las</th>
        <th>Detalle</th>
        <th>Importe total</th>
        <th>Lugar de entrega</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fer Di megliah</td>
        <td>22:21 hs</td>
        <td>-2 Muzzarela Grande</td>
        <td>$1500</td>
        <td>Suipaches 1345</td>
        <td><button type="submit" class="btn btn-success glyphicon glyphicon-ok"></button> <button type="submit" class="btn btn-danger glyphicon glyphicon-remove"></button></td>
      </tr>
      <tr>
        <td>El juanmas</td>
        <td>03:17 hs</td>
        <td>-2 Con extra queso mouse</td>
        <td>$20</td>
        <td>LoroStreet 123</td>
        <td><button type="submit" class="btn btn-success glyphicon glyphicon-ok"></button> <button type="submit" class="btn btn-danger glyphicon glyphicon-remove"></button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>