
<div class="container">
  <p>Sus últimos pedidos</p>          
  <div class="table-responsive">  
  <table class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th>Fecha y hora</th>
        <th>Detalle</th>
        <th>Importe total</th>
        <th>Lugar de entrega</th>
        <th>Entregado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Viernes 15-05-2016 21:00 hs</td>
        <td>-2 Muzzarela Grande</td>
        <td>$150</td>
        <td>Suipaches 1345</td>
        <td>Si</td>
      </tr>
      <tr>
        <td>Sabado 23-05-2016 23:12 hs</td>
        <td>-3 Napolitana Grande</br>
            -2 Faina Gigante</td>
        <td>$280</td>
        <td>Calle Falsa 123</td>
        <td>Si</td>
      </tr>
      <tr>
        <td>Martes 26-05-2016 17:34 hs</td>
        <td>-3 Docenas de empanadas Carne</br>
            -2 Coca 5L</td>
        <td>$320</td>
        <td>Suipaches 1345</td>
        <td>Si</td>
      </tr>
    </tbody>
  </table>
</div>
</div>